/* link-primary-medium */
.link-primary-medium {
  /* font-style: italic; */
  font-size: 2rem;
  /* text-decoration-line: none; */
  /* line-height: 4rem; */
  /* letter-spacing: 0.1em; */
  text-decoration-line: underline;
  color: var(--fs-color-link-primary);
}

.link-primary-medium:hover {
  color: var(--fs-color-link-dark);
}

/* link-primary-medium */


.link-dark-small {
  font-size: 1.8rem;
  /* line-height: 3rem; */
  text-decoration-line: underline;
  color: var(--fs-color-link-primary);
}

.link-dark-small:hover {
  color: var(--fs-color-link-dark);
}



.link-secondary-small {
  font-size: 1.5rem;
  line-height: 3rem;
  text-decoration-line: underline;
  color: var(--fs-color-link-light);

  font-style: italic;
  letter-spacing: 0.2em;
  text-decoration-line: underline;
  color: var(--fs-color-link-secondary);
}

.link-secondary-small:hover {
  color: var(--fs-color-link-primary);
}

.link-secondary-large {
  font-family: var(--fs-font-display);
  /* font-style: italic; */
  font-size: 3.6rem;
  /* line-height: 6rem; */
  /* letter-spacing: 0.05em; */
  text-decoration-line: underline;
  /* text-transform: lowercase; */
  color: var(--fs-color-link-light);
}

.link-secondary-large:hover {
  color: var(--fs-color-link-secondary);
}


/* Link Button */
.link-button {
  /* margin-bottom: 2.6rem; */
  /* margin-top: 4.5rem; */

  display: flex; */

  font-family: var(--fs-font-display);
  font-size: 2.6rem;
  /* line-height: 4.5rem; */

  /* letter-spacing: 0.3em; */
  text-decoration-line: underline;
  /* text-transform: uppercase; */

  color: var(--fs-color-link-light);
}

@media (min-width: 768px) {
  .link-button {
    margin-bottom: 9rem;
    margin-top: 9rem;
  }
}

.link-button:hover {
  color: var(--fs-color-link-secondary);
}

.link-button-icon {
  margin-right: 2rem;
  height: 3.5rem;
  /* width: 4rem; */
}

/* Link Button Placeholder */
.link-button-placeholder {
  margin-bottom: 4.5rem;
  margin-top: 4.5rem;

  display: flex;

  font-family: var(--fs-font-display);
  font-size: 2.5rem;
  line-height: 4.5rem;

  letter-spacing: 0.3em;
  text-decoration-line: none;
  text-transform: uppercase;

  color: var(--fs-color-link-light);
}

@media (min-width: 768px) {
  .link-button-placeholder {
    margin-bottom: 9rem;
    margin-top: 9rem;
  }
}


/* Link Mail Address */
.link-mail {
  display: block;
  width: 26rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 2rem;

  font-family: var(--fs-font-display);
  /* font-style: italic; */
  /* font-weight: normal; */
  font-size: 2rem;

  /* letter-spacing: 0.1em; */
  text-decoration-line: underline;
  text-transform: lowercase;

  color: var(--fs-color-font-light);

  background: var(--fs-color-font-primary);
  /* box-shadow: var(--fs-button-shadow); */
}

.link-mail:hover {
  background: var(--fs-color-secondary);
  color: var(--fs-color-font-dark);
  /* box-shadow: var(--fs-button-shadow-small); */
}



/* Link Light */
/* .link-light-small {
  font-size: 2rem;
  line-height: 3rem;
  text-decoration-line: underline;
  color: var(--fs-color-link-light);
}

.link-light-small:hover {
  color: var(--fs-color-link-primary);
} */

/* @media (min-width: 1024px) {
  .link-light-small {
    font-size: 1.5rem;
  }
} */

/* .link-light-medium {
  font-style: italic;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.2em;
  text-decoration-line: underline;
  color: var(--fs-color-link-light);
}

.link-light-medium:hover {
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.7);
} */

/* .link-light-large {
  font-family: var(--fs-font-display);
  font-style: italic;
  font-size: 2.5rem;
  line-height: 6rem;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  text-transform: lowercase;
  color: var(--fs-color-link-light);
}

.link-light-large:hover {
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.7);
} */

/* Link Primary */


/* .link-primary-large {
  font-family: var(--fs-font-display);
  font-style: italic;
  font-size: 2.5rem;
  line-height: 6rem;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  text-transform: lowercase;
  color: var(--fs-color-link-primary);
}

.link-primary-large:hover {
  color: var(--fs-color-light-gray);
} */

/* Link Secondary */