@define-mixin base-styles {
  color: var(--fjd-color-text-dark);
  font-family: var(--fjd-font-family);
  font-size: var(--fjd-font-size-s);
  font-weight: var(--fjd-font-weight-regular);
  line-height: var(--fjd-line-height);

  & a {
    color: var(--fjd-color-action-primary);
  }

  & strong {
    font-weight: var(--fjd-font-weight-medium);
  }
}
