@import './_fonts.css';
@import './_variables.css';

:root {
  /* Colors */

  --fs-color-link-primary: var(--fs-color-dark-gray);
  --fs-color-link-secondary: var(--fs-color-primary);
  
  --fs-color-font-dark: var(--fs-color-dark-gray);
  --fs-color-font-light: var(--fs-color-light-gray);
  --fs-color-font-primary: var(--fs-color-primary);
  --fs-color-font-secondary: var(--fs-color-secondary);
  
  --fs-color-shadow: var(--fs-color-medium-gray);
  --fs-color-background: var(--fs-color-secondary);

  /* Box Shadows */

  --fs-box-shadow-m: -3.0rem 3.0rem 0 var(--fs-color-shadow);

  /* Spacing */

  --fjd-spacing-xs: 0.25rem;
  --fjd-spacing-s: 0.5rem;
  --fjd-spacing-m: 0.75rem;
  --fjd-spacing-l: 1rem;
  --fjd-spacing-xl: 1.25rem;
  --fjd-spacing-xxl: 1.5rem;
  --fjd-spacing-3xl: 1.75rem;
  --fjd-spacing-4xl: 2rem;
  --fjd-spacing-5xl: 2.5rem;

  /* Typrography */

  --fs-font-primary: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  --fs-font-display: 'Bariol', 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;




  --fjd-font-size-xxs: 0.625rem;
  --fjd-font-size-xs: 0.75rem;
  --fjd-font-size-s: 0.875rem;
  --fjd-font-size-m: 1rem;
  --fjd-font-size-l: 1.125rem;
  --fjd-font-size-xl: 1.25rem;
  --fjd-font-size-xxl: 1.5rem;
  --fjd-font-size-3xl: 1.75rem;
  --fjd-font-size-4xl: 2rem;
  --fjd-font-size-5xl: 2.8rem;

  --fjd-font-weight-regular: 400;
  --fjd-font-weight-medium: 500;
  --fjd-font-weight-bold: 700;

  --fjd-line-height: 1.5;
}
