@import "./_theme.css";
@import "./_layout.css";
@import "./_header.css";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 50%; /* 10px/16px = 62.5% -> 1rem = 10px */
}

@media (min-width: 768px) {
  html {
    font-size: 62.5%;
  }
}



body {
  -webkit-font-smoothing: antialiased;

  font-family: var(--fs-font-primary);
}

a {
  text-decoration: none;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 5rem;
  padding-bottom: 6rem;
}

/* Section */

.section-header {
  display: flex;
  justify-content: flex-end;
  padding: 6rem 3rem 3rem 0rem;
}

.section-header-icon {
  margin-right: 2rem;
  width: 4rem;
}

.section-title {
  font-family: var(--fs-font-display);

  font-style: italic;
  font-weight: normal;
  font-size: 2.2rem;
  line-height: 6rem;
  text-align: right;
  letter-spacing: 0.4em;
  text-transform: lowercase;
}

.paragraph {
  margin-bottom: 4rem;
}

.paragraph:last-of-type {
  margin-bottom: 0;
}

.image {
  mix-blend-mode: normal;

  box-shadow: var(--fs-shadow-left-down);

  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 6rem;
  margin-left: 3rem;

  width: calc(100% - 3rem);
}

.image-img {
  width: 65%;
}

.image-vita {
  width: calc(100% - 3rem);
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-vita-img {
  width: 90%;
}

/* Color */

.background-primary {
  background-color: var(--fs-color-primary);
}

.background-primary-light {
  background-color: var(--fs-color-primary-light);
}

.background-secondary {
  background-color: var(--fs-color-secondary);
}

.background-secondary-light {
  background-color: var(--fs-color-secondary-light);
}

.background-gray-light {
  background-color: var(--fs-color-light-gray);
  opacity: 0.5;
}

/* Shadow */
.shadow-down {
  box-shadow: var(--fs-shadow-down);
  margin-bottom: 3rem;
}

/* Spacer */

.mb-m {
  margin-bottom: 3rem;
}

.ml-m {
  margin-left: 3rem;
}

.mr-m {
  margin-right: 3rem;
}

.mt-m {
  margin-top: 3rem;
}

/* Typography */

.section-title,
.section-subtitle,
.subtitle,
.francis-mailto-subtitle {
  font-family: var(--fs-font-display);
}

.subtitle {
  font-size: 2.4rem;
  line-height: 6rem;
  letter-spacing: 0.45em;
  text-transform: uppercase;
  text-align: center;
}

.subtitle-shadow {
  height: 1.9rem;
  background-color: var(--fs-color-shadow);
  margin-top: -3rem;
}

.subtitle-shadow-light {
  height: 1.9rem;
  background-color: var(--fs-color-shadow-light);
  margin-top: -3rem;
}

.text {
  font-size: 1.9rem;
  line-height: 3.8rem;
}

.text-small {
  font-size: 1.5rem;
  line-height: 3rem;
}

.text-color-light {
  color: var(--fs-color-font-light);
}

.text-color-primary {
  color: var(--fs-color-font-primary);
}

.text-color-secondary {
  color: var(--fs-color-font-secondary);
}
.text-color-dark {
  color: var(--fs-color-dark-gray);
}
/* 
 *
 * Link
 *
 */

/* Link Light */
.link-light-small {
  font-size: 2rem;
  line-height: 3rem;
  text-decoration-line: underline;
  color: var(--fs-color-link-light);
}

@media (min-width: 1024px) {
  .link-light-small {
 
    font-size: 1.5rem;
 
  }
}

.link-dark-small {
  font-size: 1.5rem;
  line-height: 3rem;
  text-decoration-line: underline;
  color: var(--fs-color-link-secondary);
}

.link-light-small:hover {
  color: var(--fs-color-link-primary);
}

.link-dark-small:hover {
  color: var(--fs-color-link-primary);
}

.link-light-medium {
  font-style: italic;
  font-size: 2rem;
  line-height: 4rem;
  letter-spacing: 0.2em;
  text-decoration-line: underline;
  color: var(--fs-color-link-light);
}

.link-light-medium:hover {
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.7);
}

.link-light-large {
  font-family: var(--fs-font-display);
  font-style: italic;
  font-size: 2.5rem;
  line-height: 6rem;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  text-transform: lowercase;
  color: var(--fs-color-link-light);
}

.link-light-large:hover {
  text-shadow: -2px 2px 4px rgba(0, 0, 0, 0.7);
}

/* Link Primary */
.link-primary-medium {
  font-style: italic;
  font-size: 1.9rem;
  text-decoration-line: none;
  line-height: 4rem;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  color: var(--fs-color-link-primary);
}

.link-primary-medium:hover {
  color: var(--fs-color-link-light);
}

.link-primary-large {
  font-family: var(--fs-font-display);
  font-style: italic;
  font-size: 2.5rem;
  line-height: 6rem;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  text-transform: lowercase;
  color: var(--fs-color-link-primary);
}

.link-primary-large:hover {
  color: var(--fs-color-light-gray);
}

/* Link Secondary */
.link-secondary-small {
  font-size: 1.5rem;
  line-height: 3rem;
  text-decoration-line: underline;
  color: var(--fs-color-link-light);

  font-style: italic;
  letter-spacing: 0.2em;
  text-decoration-line: underline;
  color: var(--fs-color-link-secondary);
}

.link-secondary-small:hover {
  color: var(--fs-color-link-primary);
}

.link-secondary-large {
  font-family: var(--fs-font-display);
  font-style: italic;
  font-size: 2rem;
  line-height: 6rem;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  text-transform: lowercase;
  color: var(--fs-color-link-secondary);
}

.link-secondary-large:hover {
  color: var(--fs-color-link-primary);
}

/* Link Button */
.link-button {
  margin-bottom: 4.5rem;
  margin-top: 4.5rem;

  display: flex;

  font-family: var(--fs-font-display);
  font-size: 2.5rem;
  line-height: 4.5rem;

  letter-spacing: 0.3em;
  text-decoration-line: underline;
  text-transform: uppercase;

  color: var(--fs-color-link-light);
}

@media (min-width: 768px) {
  .link-button {
    margin-bottom: 9rem;
    margin-top: 9rem;
  }
}

.link-button:hover {
  color: var(--fs-color-link-primary);
}

.link-button-icon {
  margin-right: 2rem;
  width: 4rem;
}

/* Link Mail Address */
.link-mail {
  padding-left: 1rem;
  padding-right: 1rem;

  font-family: var(--fs-font-display);
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;

  letter-spacing: 0.1em;
  text-decoration-line: underline;
  text-transform: lowercase;

  color: var(--fs-color-font-dark);

  background: var(--fs-color-font-primary);
  box-shadow: var(--fs-button-shadow);
}

.link-mail:hover {
  background: var(--fs-color-secondary);
  color: var(--fs-color-font-light);
  box-shadow: var(--fs-button-shadow-small);
}

/* Helper */

.contact {
  margin-bottom: 3rem;
  margin-top: 2rem;
}

.contact a {
  line-height: 1.5;
}
