@import "./_media-queries.css";
@import "./_theme.css";
@import "./_mixins.css";
/* @import "./_variables.css"; */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
}

body {
  @mixin base-style;

  -webkit-font-smoothing: antialiased;

  font-family: var(--fs-font-primary);
}

a {
  text-decoration: none;
}

.page {
}

.francis {
  color: var(--fs-color-font-light);
}

.francis-content {
  background-color: var(--fs-color-background);

  /* padding-top: 3rem; */
  /* padding-bottom: 8rem; */
}

.francis-content,
.section-content {
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  justify-content: center;
}

.grid-container {
  max-width: 1520px;
}

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;

    width: 98vw;
  }

  .francis-title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
  }

  .francis-portrait {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .francis-description {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
  }

  .section-image__right {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
  }

  .section-title__left {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
  }
  .section-description__left {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
  }
}

@media (min-width: 1024px) {
  .francis-title {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
  }

  .francis-portrait {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .francis-description {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
  }

  .section-image__right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
  }

  .section-title__left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
  }

  .section-description__left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
  }
}

@media (min-width: 1400px) {
  .grid-container {
    column-gap: 35px;
  }
}

@media (min-width: 1600px) {
  .grid-container {
    column-gap: 12rem;
  }
}

.section-header {
  display: flex;
  justify-content: flex-end;
  padding: 4.5rem 3rem 1.5rem 0rem;
}

.section-title,
.section-subtitle {
  font-family: var(--fs-font-display);
}

.francis-portrait {
  margin-top: 6rem;
  margin-bottom: 15.5rem;
}

.francis-portrait-img {
  width: 50%;
  filter: drop-shadow(-30px 30px 0px rgba(61, 60, 53, 0.5));
  margin-bottom: 7.5rem;
}

.francis-portrait-subtitle {
  margin-top: 5rem;
  max-width: 55rem;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.francis-portrait-subtitle-mailto {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

/* .francis-portrait-subtitle-mailto::after {
  content: ""; 
  width: 10%;
  height: 1.9rem;
  
  
  background-color: var(--fs-color-shadow);
} */

.francis-portrait-subtitle-text {
  font-size: 1.8rem;
  line-height: 3.0rem;
}


.section-title {
  font-family: var(--fs-font-display);

  font-style: italic;
  font-weight: normal;
  font-size: 2.5rem;
  line-height: 6rem;
  text-align: right;
  letter-spacing: 0.4em;
  text-transform: lowercase;
  color: var(--fs-color-font-secondary);
}

.francis-title {
  font-family: var(--fs-font-display);
  font-style: normal;
  font-weight: normal;
  font-size: 3.5rem;
  line-height: 5.5rem;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;

  color: var(--fs-color-font-light);
  margin-top: 27.5rem;
  margin-bottom: 12rem;
}

.francis-title-knaller {
  color: var(--fs-color-font-primary);
}

/* Typography */

.subtitle {
  font-family: var(--fs-font-display);
  font-size: 2.5rem;
  line-height: 6rem;
  letter-spacing: 0.45em;
  text-transform: uppercase;
}

.subtitle-shadow {
    height: 1.9rem;
    background-color: var(--fs-color-shadow);
    margin-left: -1.2rem;
    margin-right: -1.2rem;
    margin-top: -3rem;
}

.text {
  font-size: 2.2rem;
  line-height: 4rem;
}

.text-color-light {
  color: var(--fs-color-font-light);
}


/* Link */

.link-secondary-large {
  font-family: var(--fs-font-display);
  font-style: italic;
  font-size: 2.5rem;
  line-height: 6.0rem;
  letter-spacing: 0.05em;
  text-decoration-line: underline;
  text-transform: lowercase;
  color: var(--fs-color-link-secondary);
}